# .env.example
# ======================
# Copiar este archivo a ".env" y ajustar credenciales personales

# Credenciales de MySQL
MYSQL_ROOT_PASSWORD=?
MYSQL_DATABASE=comandera_db
MYSQL_USER=?
MYSQL_PASSWORD=?

# Puerto expuesto en el host
MYSQL_PORT=3306

# Nombre del contenedor
MYSQL_CONTAINER_NAME=mysql-comandera
